@model List<ToDoAPI.Entities.DTOs.ToDo.TodoCreateDTO>
<h1>Create New ToDo</h1>
<form method="post" asp-action="Create">
    <div>
        <label>Title</label>
        <input asp-for="Title" />
    </div>
    <div>
        <label>Description</label>
        <input asp-for="Description" />
    </div>
    <div>
        <label>User ID</label>
        <input asp-for="UserId" />
    </div>
    <div>
        <label>User Name</label>
        <input asp-for="UserName" />
    </div>
    <div>
        <label>Status</label>
        <select asp-for="Status">
            <option value="1">Pending</option>
            <option value="2">In Progress</option>
            <option value="3">Completed</option>
        </select>
    </div>
    <button type="submit">Save</button>
</form>
<a href="/Todo/Index">Back to List</a>
